.detail-icon {
    width: 25px !important;
}

.image-detail {
    height: 150px;
    margin: 0 auto;
}

.image-preview {
    margin: 0 auto;
}

.comment {
    text-indent: 1.5em !important;
}

.box-image {
  border: 1px solid rgb(0, 0, 0);
  border-radius: 2px !important;
  padding: 2px !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
}
