#home-template {
    height: 4000px !important;
    background-repeat: no-repeat;
    background-position: center;
}
.image-logo-mobile {
    width: 60px !important;
    padding: 0% 0% 0% 0% !important;
}
// SiteName
.site-name {
    font-size: 70px !important;
    margin-top: 115px !important;
}
// Brand
.brand {
    margin-top: 150px !important;
}
.brand-subtitle {
    margin-top: 20px !important;
}
.brand-underline {
    margin-top: 30px !important;
    border-top: 3px solid #00267d !important;
    width: 80% !important;
    margin: 0 auto;
}
// Service
.service {
    margin-top: 650px !important;
}
.service-title {
    font-size: 50px;
    color: rgb(255, 255, 255) !important;
}
.service-image {
    width: 50% !important;
}
.service-text {
    font-size: 16px !important;
}
// Contact
.contact {
    margin-top: 525px !important;
}

.contact-address  {
    text-align: center !important;
}

.contact-text  {
    text-align: center !important;
}
