.image-logo-mobile {
    width: 60px !important;
    padding: 0% 0% 0% 0% !important;
}
// SiteName
.site-name {
    font-size: 80px !important;
    margin-top: 300px !important;
}
// Brand
.brand {
    margin-top: 350px !important;
}
.contact-underline {
    border-top: 3px solid #00267d !important;
    width: 80% !important;
    margin: 0 auto;
    margin-top : 60px;
}
.social-image {
    width: 50px !important;
    margin: 10px 12px 10px 12px !important;
}
