@import 'function';

$breakpoints: ( xs : 375px, sm : 600px, md : 960px, lg : 1264px, xl : 1904px);

$style: (
    text-responsive : (
        xs : (font-size : 16px),
        sm : (font-size : 18px),
        md : (font-size : 20px),
        lg : (font-size : 20px),
    )
);

$sizes: 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30;

@each $size in $sizes {
  .f-#{$size} {
    font-size: #{$size}+'px' !important;
  }
}

.font {
    font-family: 'Quicksand', sans-serif;
}

.font-600 {
    font-weight: 600;
}


.text-responsive {
    @include responsive-text-size('text-responsive');
}






