@font-face {
    font-family: 'Quicksand';
    font-weight: normal;
    font-style: normal;
    src: url('/fonts/Quicksand/Quicksand-Regular.ttf');
}

@font-face {
    font-family: 'Prompt';
    font-weight: normal;
    font-style: normal;
    src: url('/fonts/Prompt/Prompt-Light.ttf');
}
